.wrapper{
	padding: 20px;
	margin-bottom: 50px;
}
.wrapper p{
	font-size: 18px;
	line-height: 1.7;
}
.wrapper p a{
	font-weight: 700;
}
h2 {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 700;
}