.wrap{
	width: 500px;
	height: 150px;
	background: #EEEEEE;
	margin: 20px auto;
	padding: 20px;
	position: relative;
}
.wrap p{ background: yellow; }
#wrap1 input{ width: 300px;}
textarea{
	width:300px;
	height: 80px;
	vertical-align: top;
}
span {
	position: absolute;
	width: 100px;
	height: 100px;
	color: red;
	font-size: 12px;
	left: 440px;
	top:110px;
	display: none;
}
form { margin: 10px auto;}
form input{ margin: 10px 5px;}
form label{	margin-right: 20px;}